.logo-maker {
	display: flex;
	align-items: flex-end;
	position: relative;
	transition: all 300ms;
}

.logo-maker:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.main-letter-wrapper {
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 100%;
	background-color: var(--link-color);
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	transition: all 300ms;
}

.logo-maker:hover .main-letter-wrapper {
	transform: scale(1.3);
}

.name-wrapper {
	position: absolute;
	font-size: 1.75rem;
	left: 1.75rem;
}
