.navigation-section {
	width: 100%;
	position: relative;
	z-index: 100;
}

.navbar-container {
	backdrop-filter: blur(4px);
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;

	background: rgb(4, 28, 50);
	background: linear-gradient(
		180deg,
		rgba(4, 28, 50, 1) 0%,
		rgba(4, 28, 50, 0.4682247899159664) 72%,
		rgba(4, 28, 50, 0.2553396358543417) 100%,
		rgba(4, 28, 50, 1) 100%
	);
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo-section {
	padding: 0.75rem 0;
}

.navigation-link {
	display: flex;
	list-style: none;
}

.navigation-link li a {
	padding: 0.75rem 0.75rem;
}

.navigation-link li:last-child a {
	padding-right: 0;
}

.navigation-info-bottom {
	width: 100%;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.info-bottom-container {
	padding: 0;
}

.navbar-bottom-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.navbar-bottom-detail {
	display: flex;
	flex-direction: row;
	align-items: center;
	writing-mode: vertical-lr;
}

.right-line {
	position: fixed;
	bottom: 0;
	right: 1rem;
}

.left-line {
	position: fixed;
	bottom: 0;
	left: 1rem;
}

.vertical-line {
	margin-top: 1rem;
	width: 1px;
	height: 20vh;
	background-color: var(--main-text-color);
}
