.projects-container {
	display: grid;
	grid-row-gap: 1.75rem;
	grid-column-gap: 1rem;
	grid-template-columns: auto auto;
	margin-bottom: 2rem;
}

.view-more-link-container {
	width: 100%;
	text-align: center;
}
